* {
    margin: 0;
}

body {
    font-family: 'Smythe';
}

header {
    padding: 2em;
    background-image: url(/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1, h2 {
    color: #ffffee;
    font-weight: normal;
}

h1 {
    font-size: 2.5rem;
    margin-block-end: 1.25rem;
}

h2 {
    font-size: 1.375rem;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 2.375rem;
    padding: 2em;
}

.menu {
    display: flex;
    gap: 2rem;
    align-items: start;
    padding-block-end: 3em;
    border-block-end: 2px solid #C6C6C6;
}

.menu__emoji {
    font-size: 2.5rem;
}

.menu__content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.menu__name {
    font-size: 1.75rem;
    font-weight: normal;
}

.menu__ingredient {
    font-size: .875rem;
    font-weight: normal;
    color: #8B8B8B;
}

.menu__price {
    font-weight: normal;
    font-size: 1.25rem;
}

button {
    background: transparent;
    color: #3C3C3C;
    width: 3.125rem;
    height: 3.125rem;
    margin-inline-start: auto;
    font-size: 2rem;
    border: 1px solid #DEDEDE;
    border-radius: 99px;
}