* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Smythe';
}

header {
    padding: 2em;
    background-image: url(/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1, h2 {
    color: #ffffee;
    font-weight: normal;
}

h1 {
    font-size: 2.5rem;
    margin-block-end: 1.25rem;
}

h2 {
    font-size: 1.375rem;
}

main {
    padding: 2em;
}

#order-menu {
    display: flex;
    flex-direction: column;
    gap: 2.375rem;
}

.menu {
    display: flex;
    gap: 2rem;
    align-items: start;
    padding-block-end: 3em;
    border-block-end: 2px solid #C6C6C6;
}

.menu__emoji {
    font-size: 2.5rem;
}

.menu__content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.menu__name {
    font-size: 1.75rem;
    font-weight: normal;
}

.menu__ingredient {
    font-size: .875rem;
    font-weight: normal;
    color: #8B8B8B;
}

.menu__price {
    font-weight: normal;
    font-size: 1.25rem;
}

.menu__btn {
    background: transparent;
    color: #3C3C3C;
    width: 3.125rem;
    height: 3.125rem;
    margin-inline-start: auto;
    font-size: 2rem;
    border: 1px solid #DEDEDE;
    border-radius: 99px;
}

#order-item {
    margin-block-start: 2.375rem;
    font-size: 1.75rem;
}

#order-item > h2 {
    color: #3C3C3C;
    margin-block-end: 3rem;
    text-align: center;
}

.order-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
    margin-block-end: .875rem;
    padding-block-end: 2rem;
    border-block-end: 2px solid #3C3C3C;
}

.order-wrapper__btn {
    margin-block-start: 3rem;
    width: 100%;
    padding: 1.125em;
    border: transparent;
    border-radius: 0.25rem;
    background: #16DB99;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.order-wrapper__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-wrapper__content {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.order-wrapper__item-btn {
    background: transparent;
    border: transparent;
    font-size: .75rem;
    color: #8B8B8B;
}

.order-wrapper__item-price {
    font-size: 1.25rem;
}

/* MODAL PAYMENT */

.payment-modal {
    position: fixed;
    inset: 0;
    height: fit-content;
    background: #ffff;
    margin: auto;
    font-family: 'Verdana', sans-serif;
    max-width: 23.5rem;
    padding: 1.875em 1.5em;
    border-radius: .25rem;
    -webkit-box-shadow: 5.19px 5.19px 255px 0px rgba(60, 60, 60, 1);
    -moz-box-shadow: 5.19px 5.19px 255px 0px rgba(60, 60, 60, 1);
    box-shadow: 5.19px 5.19px 255px 0px rgba(60, 60, 60, 1);
}

.payment-modal__heading {
    color: #3C3C3C;
    margin-block: 1rem 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.payment-modal form  {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.payment-modal form > label {
    color: #8B8B8B;
    font-size: .75rem;
}

.payment-modal form > label > input {
    width: 100%;
    height: 2.5rem;
    display: block;
    margin-block-start: .5rem;
    border: 1px solid #8B8B8B;
    border-radius: 0.25rem;
}

.payment-modal__btn {
    width: 100%;
    margin-block-start: 1.25rem;
    padding: 1.125em;
    border: transparent;
    border-radius: 0.25rem;
    background: #16DB99;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}



.d-none {
    display: none;
}